<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="panel panel-info">
<h1>EDIT</h1>
<h4 th:text="${message}"></h4>
<form action="#" th:action="@{/todo/updateForm}" th:object="${todo}" method="post">
    
    <input th:hidden="${todo.id}" type="text" th:field="${todo.id}"/>
    
    <table>
    	<tr>
    		<td>NAME :</td>
    		<td> <input type="text"  th:field="${todo.name}"  th:value="${todo.name}" class="form-control"/></td>
    	</tr>
    
    	<tr>
    		<td>DESC :</td>
    		<td> <textarea rows="3" cols=""  th:field="${todo.desc}" th:value="${todo.desc}" class="form-control"></textarea></td>
    	</tr>
    
    	<tr>
    		<td>DATE :</td>
    		<td> <input type="date"  th:field="${todo.dueDate}" th:value="${todo.dueDate}" class="form-control" /></td>
    	</tr>
    
    	<tr>
    		<td>DONE :</td>
    		<td> <input type="checkBox"  th:value="checkDone" th:checked="${todo.done}" th:field="${todo.done}" class="form-control" /></td>
    	</tr>
    
    
    </table>
    
    <input type="submit" value="Update" class="btn btn-primary btn-lg" />
    
    
</form>

</div>